* {
  margin: 0;
  padding: 0;
}
/* Common font style */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.change-the-world {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.half-width-text {
  text-align: start;
  width: 60%;
}
.change-title {
  font-size: 24px;
  color: #0d1321b3;
}
.change-description {
  font-size: 16px;
  color: #0d1321;
  opacity: 0.7;
  margin: 20px 0px;
}
.btn-learn-more {
  color: #0d1321;
  background-color: white;
  padding: 12px 20px;
  border: 1px solid #0d1321;
}

/* Header nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 100px;
}
.btn-nav {
  color: #0d1321;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: white;
  border: 1px solid #0d1321;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0.7;
}

/* Header banner style */
.banner {
  height: 650px;
  background-image: url("../assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content {
  width: 900px;
}
.banner-title {
  font-size: 48px;
  font-weight: 800;
  margin: 20px 0;
}
.banner-img {
  margin-top: 26px;
}
.banner-details {
  font-size: 16px;
  color: #0d1321;
  opacity: 0.7;
  margin: 20px 0;
}
.btn-banner {
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: #0d1321;
  border: 1px solid #0d1321;
  padding: 16px 20px;
  border-radius: 8px;
  margin: 20px 0;
}

/* why web development  */
.why-web-development {
  height: 1253px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.why-web-dev-content {
  width: 850px;
}
.web-dev-title {
  margin: 80px 0px;
}
.web-dev-title h2 {
  margin: 20px 0px;
}

/* My inspiration  */
.my-inpiration {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.my-inspiration-content {
  width: 950px;
}
.my-inpiration-title {
  font-size: 32px;
  color: #0d1321;
  margin: 25px 0px;
}
.my-inpiration-description {
  color: #0d1321;
  opacity: 0.7;
  margin: 25px 0px;
}

.my-inspiration-content iframe {
  margin: 20px 0;
  border-radius: 20px;
}
